.btn-billetterie {
  background-color: #25b2a2;
  border: none;
  color: black;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.bandeauHaut{
  background-color: #25B2A2;
    
}

.menu{
    position: relative;
    float: left;
}

.titre{
    position: relative;
    width: 100%;
}
.nom_zoo{
    color:#404040;
    margin-right: 200px;
    text-align: right;
}

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
}
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
  .sidenav a:hover {
    color: #111;
}
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
  /* Active class */
  .sidenav.active {
    left: 0;
}
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

  /* Icône burger */
#openBtn span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
} 

.text-center{
  text-align: center;
  font-size: 100px;
  color:  black;
}


.container{
   padding:20px 0 0 0;
   align-items: center;
   width: 100%;
   text-align: center;
}	       

.logos{
  text-align: center;

}

.row{
  display: flex;
  column-width: 200px;
}


.BodyDescription{
  background-color: #1e1e1e;

}

.BoxGlobal{
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: auto;
  gap: 100px;
  margin-left: 40px;

}


.description_img{
  width: 200px;
  height: 200px;
}



.aigle{
  grid-column: 1;

}
.perroquet_bleu{
  grid-column: 2;
}

.perroquet{
  grid-column: 3;
}

.autruche{
  grid-column: 4;
}

.add{
  position: relative;
  top: -200px;
}

h3{
  color: #ffffff;
  position: relative;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -10px;
  max-width: 200px;
}
/*
.btn-add{
  opacity: 0;
}
 */